Backups/*
/Muls
lib/*
log/*
Saves/*
*.exe
*.exe.config
*.DotSettings.user
*.pdb
*.mdb
*.dll
*.log
*.txt
*.suo
reportHistory.xml
staffHistory.xml
*/obj/*
Scripts/*/obj/*
output/*
cache/*
.idea/
deps/*
*.deps.json
*.runtimeconfig*
